body{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

    background-color: $Very-Light-Grayish-Blue;
    background-image: url('/assets/images/bg-top.svg');
    background-size: 300px 600px;
    background-repeat: no-repeat;
    background-position: right -150px top;

    height: 100vh;
    min-width: 360px;

    display: flex;
}

.box-container{
    width: 100%;
    margin: 3em 0;
}

.container{
    width: 85%;
    margin: 0 auto;
}

/* @media screen and (min-width:1024px){
    body{
        background-image: url('/assets/images/bg-top.svg'), url('/assets/images/bg-bottom.svg');
        background-size: 300px 600px,50%;
        background-repeat: no-repeat;
        background-position: right -150px top,bottom;
    }
} */