<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon",type="image/png",sizes="32x32",href="./assets/images/favicon-32x32.png")

        link(rel="preconnect",href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap",rel="stylesheet")

        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
        link(rel="stylesheet", href="./css/styles.css")

        title Frontend Mentor | Insure Landing Page
    body
        .box-container
            header.header
                .container
                    h1.header__title  Our Pricing
                    .switch
                        span.switch__text    Annually
                        .switch__bar
                            .switch__circle
                        span.switch__text    Monthly
            section.stats
                .container
                    .grid
                        .grid__item
                            .box
                                h2.stats__title  Basic
                                p.stats__price   #[span.simbol &dollar;]19.99
                                p.stats__text
                                    span.stats__text-center    500 GB Storage
                                    span.stats__text-center    2 Users Allowed
                                    span.stats__text-center    Send up to 3 GB
                                a(href="#").stats__button Learn More

                        .grid__item
                            .box
                                h2.stats__title.white  Professional
                                p.stats__price.white  #[span.simbol &dollar;]24.99
                                p.stats__text
                                    span.stats__text-center.white    1 TB Storage
                                    span.stats__text-center.white    5 Users Allowed
                                    span.stats__text-center.white    Send up to 10 GB
                                a(href="#").stats__button.white Learn More

                        .grid__item
                            .box
                                h2.stats__title  Master
                                p.stats__price   #[span.simbol &dollar;]39.99
                                p.stats__text
                                    span.stats__text-center    2 TB Storage
                                    span.stats__text-center    10 Users Allowed
                                    span.stats__text-center    Send up to 20 GB
                                a(href="#").stats__button Learn More
        script(src="js/index.js")